
<div id="search-options" style="display=none;">
  <p>Select a Genre</p>
  <%= form_tag('/movies/search_result', method: :get) do%>
    <%= select_tag :genre, options_for_select(@genres.map{ |key, value| [key, value]}), multiple: true %><br><br>
    <%= submit_tag 'Search'%>
  <% end %>
</div>
