// Place all the styles related to the result controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.poster {
  display: block;
  float: left;
  padding: 50px 50px 30px 30px;

}

.title {
  padding-top: 50px;
}

.overwiew {
  padding-right: 150px;
}
#footerfooter {
  background-color: blue;
  text-align: center;
  display: flex;
  bottom: 0;
  width: 100%;
}
