<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" charset="utf-8"/>
        <title>About</title>
    </head>
    <body>
      <h1>About</h1>
      <p>
        JustPickIt is an application that will generate a random
        movie for you when you are not sure on what to movie to
        watch. You can pick your own genre and when you click search
        it will find you a movie in that genre you chose. It is as
        simple as that. JustPickIt.
      </p>
    </body>
</html>
