<!DOCTYPE html>
<html>
    <head>
        <title>JustPickIt</title>
        <link
            href="https://fonts.googleapis.com/css?family=Allura|Amatic+SC|Calligraffitti|Cinzel|Dancing+Script|Euphoria+Script|Handlee|Homemade+Apple|Josefin+Sans|Josefin+Slab|Julius+Sans+One|Mr+De+Haviland|News+Cycle|Nixie+One|Open+Sans+Condensed:300|Parisienne|Poiret+One|Quattrocento|Questrial|Quicksand|Qwigley|Raleway|Ruthie|Yellowtail"
            rel="stylesheet">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
        <body>
            <div id="main-title">
                <h1>Just Pick It</h1>
            </div>
            <%= yield %>
            <div id="footer">
                <div class="container">
                    <p>created by: |
                    </p>
                </div>
            </div>
        </body>
    </html>
